:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --button-text-color: #212121;
  --button-text-color-hover-focus: #ffffff;
  --button-background-color: #f5f4fa;
  --link-text-ontacts: #757575;
  --link-text-site-nav: #212121;
  --accent-text-color: #2196f3;
}

body {
  color: var(--primery-text-color);
  background-color: #ffffff;

  font-family: Roboto, sans-serif;
}

/* логотип */
.logo {
  color: #212121;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-footer {
  color: #ffffff;
}

.logo-web {
  color: #2196f3;
}

.list {
  list-style: none;
}

/* ссылки навигации */
.link {
  text-decoration: none;
}

.link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link-page {
  color: var(--link-text-site-nav);
}

.site-nav .link-page:hover,
.site-nav .link-page:focus {
  color: var(--accent-text-color);
}

.site-nav .link-page.current {
  color: var(--accent-text-color);
}

/* ссылки связаться с нами */
.link-contacts {
  color: var(--link-text-ontacts);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-contacts-footer {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-text-color);
}

/* кнопки */
.filter-buttons {
  color: var(--button-text-color);
  background-color: var(--button-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: inherit;
}

.filter-buttons:hover,
.filter-buttons:focus {
  color: var(--button-text-color-hover-focus);
  background-color: var(--accent-text-color);
}

.button-cursor {
  cursor: pointer;
}

/* секции */
.hero {
  background-color: #2f303a;
}

.button-primery {
  color: #ffffff;
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
}

/* .section {}*/

.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  color: var(--title-text-color);
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.team-title,
.work-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.work-member,
.position-member-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.position-member-text {
  font-weight: 400;
}

/* .position-member-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
} */

/* оформление футера */
.section-footer {
  background-color: #2f303a;
}

.text-address {
  color: #ffffff;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* для перераспредедения свойства
.features > .section-title {color: #ffffff;} */
