:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --button-text-color: #212121;
  --button-text-color-hover-focus: #ffffff;
  --button-background-color: #f5f4fa;
  --link-text-ontacts: #757575;
  --link-text-site-nav: #212121;
  --accent-text-color: #2196f3;
  --social-icon-color: #afb1b8;
  --accent-icon-color: #ffffff;
  --grid-item: 4;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link-visited:visited {
  color: #757575;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: var(--primery-text-color);
  background-color: #ffffff;

  font-family: Roboto, sans-serif;

  margin: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

/* логотип */

.logo {
  color: #212121;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-footer-container {
  display: block;
  margin-bottom: 20px;
}

.logo-footer {
  color: #ffffff;

  display: inline-block;
}

.logo-web {
  color: #2196f3;
}

.list {
  list-style: none;
}

/* ссылки навигации */

.link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-page {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link-page {
  color: var(--link-text-site-nav);
}

.site-nav .link-page:hover,
.site-nav .link-page:focus {
  color: var(--accent-text-color);
}

.site-nav .link-page.current {
  color: var(--accent-text-color);
}

.current-border-studia::after {
  content: '';
  display: block;
  width: 48px;
  height: 4px;
  background-color: var(--accent-text-color);

  border-radius: 4px;

  position: absolute;
  bottom: -1px;
}

.current-border-portfolio:after {
  content: '';
  display: block;
  width: 78px;
  height: 4px;
  background-color: var(--accent-text-color);

  border-radius: 4px;

  position: absolute;
  bottom: -1px;
}

/* ссылки связаться с нами */

.link-contacts {
  color: var(--link-text-ontacts);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link-contacts-footer {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-top: 0;
  padding-bottom: 0;
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-text-color);
}

/* кнопки */

.filter-buttons {
  color: var(--button-text-color);
  background-color: var(--button-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: inherit;

  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-buttons:hover,
.filter-buttons:focus {
  color: var(--button-text-color-hover-focus);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-cursor {
  cursor: pointer;
}

/* секции */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.button-primery {
  color: #ffffff;
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;

  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
}

/* фон героя */

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Img-hero.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-work {
  padding-top: 0;
}

.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.hero-box {
  max-width: 696px;
}

.section-title {
  color: var(--title-text-color);
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.grid-item {
  /* flex-basis: calc((100% - 120px) / 4); */
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
}

.features-list .grid-item {
  margin-right: 30px;
}

/* Секция чем мы занимаемся */

.work-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  /* --grid-item: 3; */
}

.work-container-item {
  position: relative;

  --grid-item: 3;
  margin-right: 30px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.work-list .team-item {
  background-color: #ffffff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  text-align: center;

  margin-right: 30px;
}

.work-container .work-container-item:not(:last-child) {
  margin-right: 30px;
}

.section-title-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.team-title,
.work-title,
.clients-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 50px;
}

.work-member,
.position-member-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.work-member {
  margin-bottom: 10px;
}

.position-member-text {
  font-weight: 400;
}

.work-img-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-icon-color);

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* секция наша команда */

.team-container {
  background-color: var(--button-background-color);
}

.team-text-box {
  padding-top: 30px;
  padding-right: auto;
  padding-bottom: 16px;
  padding-left: auto;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}

.client-item-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-item {
  --grid-item: 6;
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-right: 30px;
  margin-bottom: 30px;
}

.client-icon {
  fill: var(--social-icon-color);
}

.client-item-link:hover,
.client-item-link:focus {
  border: 1px solid var(--accent-text-color);
}

.client-item-link:hover .client-icon,
.client-item-link:focus .client-icon {
  fill: var(--accent-text-color);
}

/* оформление футера */
.section-footer {
  background-color: #2f303a;
  /* padding-top: 60px;
  padding-bottom: 60px; */
}

.text-address {
  color: #ffffff;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.join-social-text {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.flex-footer {
  display: flex;
}

.flex-footer-addres {
  margin-right: 70px;
  padding-top: 60px;
  padding-bottom: 60px;

  /* flex-basis: calc((50% - 45px) / 2); */
}

.flex-footer-box {
  padding-top: 72px;
  padding-bottom: 100px;
  margin-right: 94px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* flex-basis: calc((50% - 45px) / 2); */
}

.social-icons-list-footer {
  display: inline-flex;
}

.social-icons-item-footer {
  display: flex;
  align-items: center;
}

/* позиционирование */

.site-nav {
  display: flex;
  margin-left: 93px;

  position: relative;
}

.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

.link-contacts-box {
  display: flex;
  margin-left: auto;
}

/* .link-contacts-box  */

.item-box + .item-box {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Портфолио */

.examples-flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.examples-element {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.examples-text-box {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.adress {
  border: 1px solid #ffffff;
}

.text-address-container {
  margin-bottom: 9px;
}

.mail-link-box {
  display: block;
  margin-bottom: 9px;
}

.filter-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-box-container {
  margin-bottom: 50px;
}

/* .filter-box-container  */

.filter-item + .filter-item {
  margin-left: 8px;
}

/* Оформление overlay */

/* .example-box {
  position: relative;
} */

.overlay-example-box {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-example-box:before {
  display: inline-block;
  content: '';

  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);

  width: 100%;
  height: 100%;
  opacity: 0;
}

.link:hover .overlay-example-box:before,
.link:focus .overlay-example-box:before {
  opacity: 1;
}

.overlay-example-text {
  position: absolute;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--button-text-color-hover-focus);

  opacity: 0;
}

.link:hover .overlay-example-text,
.link:focus .overlay-example-text {
  opacity: 1;
}

/* .overlay-example-box:hover:before {
  opacity: 1;
}

.link:focus .overlay-example-box:before {
  opacity: 1;
} */

/* оформление иконок */

.link-contacts-icon {
  display: flex;
  align-items: center;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.features-icons {
  width: 270px;
  height: 120px;
  background-color: var(--button-background-color);
  margin-bottom: 30px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons-list {
  display: inline-flex;
  padding-bottom: 30px;
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.social-icons-item .social-icon {
  fill: var(--social-icon-color);
}

.social-icons-link:hover .social-icon,
.social-icons-link:focus .social-icon {
  fill: var(--accent-icon-color);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-text-color);
}

.social-icons-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons-item .social-icon-footer {
  fill: #ffffff;
}

/* тень примеров портфолио */

.link:hover .example-box,
.link:focus .example-box {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
