.logo {
  color: #212121;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo--position {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 767.98px) {
    padding-top: 26px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1199.98px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer__logo--margin {
  margin-bottom: 20px;
}

.footer__logo {
  color: #ffffff;

  display: inline-block;
}

.logo__text--blue {
  color: #2196f3;
}
