:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --button-text-color: #212121;
  --button-text-color-hover-focus: #ffffff;
  --button-background-color: #f5f4fa;
  --link-text-ontacts: #757575;
  --link-text-site-nav: #212121;
  --accent-text-color: #2196f3;
  --social-icon-color: #afb1b8;
  --accent-icon-color: #ffffff;

  --grid-item: 4;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-speed: 250ms;
}
