.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border var(--animation-speed) var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-text-color);
  }
}

.clients__item--grid {
  --grid-item: 6;
}

.clients__icon {
  fill: var(--social-icon-color);

  transition: fill var(--animation-speed) var(--timing-function);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-text-color);
  }
}
