.examples {
  margin-bottom: -30px;
}

.examples__item--grid {
  --grid-item: 3;
}

.examples__item--margin {
  margin-bottom: 30px;
}

.examples__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.examples__title--margin {
  margin-bottom: 4px;
}

.examples__work-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.examples__box--border {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

//Оформление overlay

.examples__box--overlay {
  position: relative;

  overflow: hidden;
}

.examples__box--overlay:before {
  display: inline-block;
  content: '';

  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);

  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform var(--animation-speed) var(--timing-function);
}

.examples__link:hover .examples__box--overlay:before,
.examples__link:focus .examples__box--overlay:before {
  opacity: 1;

  transform: translateY(0);
}

.examples__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--button-text-color-hover-focus);
}

.examples__text--overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--animation-speed) var(--timing-function);

  padding: 63px 24px;
}

.examples__link:hover .examples__text--overlay,
.examples__link:focus .examples__text--overlay {
  opacity: 1;

  transform: translateY(0);
}

.examples__link--visited:visited {
  color: #757575;
}

// Тень примеров портфолио

.examples__box--shadow {
  transition: box-shadow var(--animation-speed) var(--timing-function);
}

.examples__link:hover .examples__box--shadow,
.examples__link:focus .examples__box--shadow {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
