.features {
  width: 270px;
  height: 120px;
  background-color: var(--button-background-color);

  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.features--margin {
  margin-bottom: 30px;
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features__title--margin {
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
