.filter {
  margin-bottom: 40px;

  @media screen and (min-width: 767.98px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1199.98px) {
    margin-bottom: 50px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 767.98px) {
    justify-content: center;
  }

  &--margin {
    margin-left: -8px;
    margin-bottom: -15px;

    @media screen and (min-width: 767.98px) {
      margin-bottom: 0;
    }
  }
}

.filter__item--margin {
  margin-left: 8px;
  margin-bottom: 15px;

  @media screen and (min-width: 767.98px) {
    margin-bottom: 0;
  }
}
