.header {
  position: relative;

  border-bottom: 1px solid #ececec;
}

.header--position {
  display: flex;

  @media screen and (max-width: 767.98px) {
    align-items: center;
    justify-content: space-between;
  }
}

.mobile-menu {
  @media screen and (max-width: 767.98px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: var(--main-white);

    z-index: 5;
  }

  @media screen and (min-width: 767.98px) {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 767.98px) {
    &.is-open {
      display: none;
    }
  }
}

.navigation__list {
  & .navigation__link.current {
    color: var(--accent-text-color);
  }

  @media screen and (min-width: 767.98px) {
    display: flex;
  }
}

// .navigation__list .navigation__link.current {
//   color: var(--accent-text-color);
// }

.mobile-menu--margin {
  @media screen and (min-width: 767.98px) {
    margin-left: 88px;
  }

  @media screen and (min-width: 1199.98px) {
    margin-left: 93px;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color var(--animation-speed) var(--timing-function);

  @media screen and (min-width: 767.98px) {
    display: flex;

    font-size: 14px;
    line-height: 1.14;
  }
}

.navigation__link--padding {
  @media screen and (min-width: 767.98px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation__link {
  color: var(--link-text-site-nav);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.navigation__ltem {
  @media screen and (min-width: 767.98px) {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.navigation__ltem--margin:not(:last-child) {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 767.98px) {
  .navigation--current-page::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);

    border-radius: 4px;

    position: absolute;
    bottom: -1px;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu--padding {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
}

.social-menu {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 767.98px) {
    display: none;
  }
}

.social-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-text-color);

  &:focus {
    color: blue;
  }
}

.social-menu__item {
  position: relative;
}

.social-menu__item--margin:not(:last-child) {
  margin-right: 20px;
}

.social-menu__item:not(:first-child)::after {
  position: absolute;
  top: 0;
  left: -10px;

  content: '';
  display: block;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
