.team {
  background-color: var(--button-background-color);
}

.team__item {
  background-color: #ffffff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  text-align: center;
}

.team__member-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team__member-title--margin {
  margin-bottom: 10px;
}

.team__text--padding {
  padding-top: 30px;
  padding-bottom: 16px;
}
